@charset "UTF-8";
 /* Paleta de cores

 #6D99F2     + aul
 #6382BF
 #14488C
 #0D4C73
 #59D9D9     +verde
 */

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body,html {
    background-image: linear-gradient( to bottom, #0D4C73,
    #2481A6,
    #59D9D9);
    height: 100vh;
    width: 100vw;
 }
 
 main {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
   
}

div#imagem {
    background: #0D4C73 url('../imagem/pexels-sean-whang-804269.jpg');
    background-size:cover;
    background-position: left center;
    height: 50px;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}
 