@charset "UTF-8";
 /* Paleta de cores

 #6D99F2     + aul
 #6382BF
 #14488C
 #0D4C73
 #59D9D9     +verde
 */

 * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
 }

 body,html {
    background-image: linear-gradient( to bottom, #0D4C73,
    #2481A6,
    #59D9D9);
    height: 100vh;
    width: 100vw;
 }
 
 main {
    height: 100vh;
    width: 100vw;
    position: relative;
 }

section#login {
    background-color: white;
    width: 270px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
   
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}

div#imagem {
    background: #0D4C73 url('../imagem/pexels-sean-whang-804269.jpg');
    background-size:cover;
    background-position: left center;
    height: 50px;
    display: block;
}

div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 1em;
}

input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #66A3F2;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
input[type=submit]:hover {
    background-color: #14488C;
    cursor: pointer;
}

a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #66A3F2;
    border: 1px solid #14488C;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    margin-top: 5px;
}

a.botao:hover {
    background-color: #14488C;
    cursor: pointer;
    color: white;
}

div.campo {
    background-color: #2481a69f;
    width: 100%;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin: 5px 0px;
}


 